<!DOCTYPE html>
<html>
    <head>
        <title>Contact Added</title>
    </head>
    <body>
        <h1>Congrats on your new pal! BFF 4 LYFE!</h1>

        <a href="/">Home</a>

    </body>
</html>
