<html>
<head>
    <title>Friends List</title>
</head>
<body>

    <form action='/added' method ='post'>
    	<label for='name'>Contact:</label>
    	<input id='name' name='name' type='text' value='Bob Denver'>
        <label for='number'>Phone:</label>
        <input id='number' name='number' type='number' value='5035035035'>
        <label for='address'>Address:</label>
        <input id='address' name='address' type='text' value='1234 SW Rocky Mt Hwy'>
    	<button type='submit'>Submit!</button>
    </form>

    <div>
         {% if new_contact is not empty %}
         <p>You have a pal!</p>
         	<ul>
        		{% for field in new_contact %}
        			<li>{{ field }}</li>
              <ul>
                <li>{{ field }}</li>
                <li>{{ field }}</li>
              </ul>
        		{% endfor %}
        	</ul>

        {% endif %}

    </div>

</body>
</html>
