<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>
{% if task_list is not empty %}
    {% for task in task_list %}
      {{ task_list.getDescrip }}
    {% endfor %}
{% endif %}

  <form action='/tasks' method ='post'>
    <label for=''>List your task:</label>
    <input id='task_item' name='task_item' type='text' value='Feed the ToDo list!'>
    <button type='submit'>Submit!</button>
  </form>

  <form action='/delete_tasks' method='post'>
    <button type='submit'>Clear Tasks</button>
  </form>

<!--
    IF ARRAY IS NOT EMPTY
             LOOP THROUGH THE ARRAY AND LIST EACH DESCRIPTION
             MAKE IT PRETTY AND USER-FRIENDLY
           END CONDITIONAL

             FORM TO POST A TASK TO TASKS PAGE (AND CLEAR TASKS)
-->


</body>
</html>
